*{padding:0;margin:0;box-sizing: border-box}
dl,dd,dt{display: block}
#parallax{
	position: relative;
	width: 800px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;	
	padding: 0 20px;
	margin:  0 auto;
	padding-top: 90px;
	z-index: 0;
}
#parallax .background{
	position: absolute;
	left: 0;top: 0;
	height: 100%;
	width: 100%;
	font-size: 4px;	
	background: url("../images/bubbles-01.png") 45em -5em/25%,url("../images/bubbles-02.png") 86em 4em/35%,url("../images/bubbles-03.png") 35em 9em/45%,url("../images/background-01.jpg") 5em center/cover no-repeat;
	background-attachment: fixed;
	/* background-color: #CDCD00; */
	opacity: 0.5;	
	-moz-transition: background-position 0.3s linear ;
	-ms-transition: background-position 0.3s linear ;	
	transition: background-position 0.3s linear ;
	-webkit-transition: background-position  0.2s linear ;
	-o-transition: background-position 20s linear ;
}
#parallax .fullBox{
	position: relative;
	font-size: 5.6px;
	height: 500px;	
}
#parallax h1{
	/* position: fixed; */
	display: block;
	width: 700px;
	top: 100px;
	left: 0;right: 0;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
	font-size: 50px;
	-webkit-transition: all 1s linear ;
	-moz-transition: all 1s linear ;
	-ms-transition: all 1s linear ;
	-o-transition: all 1s linear ;
	transition: all 1s linear ;
	-webkit-transform-origin: 50% 50% ;
	-moz-transform-origin: 50% 50% ;
	-ms-transform-origin: 50% 50% ;
	-o-transform-origin: 50% 50% ;
	transform-origin: 50% 50% ;
	z-index: 0;
	opacity: 1;
}
#parallax .fullBox > img{
	position: absolute;
	width: 40%;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    0px 0px 21px 0px rgba(50, 50, 50, 0.8);
	box-shadow:         0px 0px 21px 0px rgba(50, 50, 50, 0.8);	
	-webkit-transition: all 0.1s linear ;
	-moz-transition: all 0.1s linear ;
	-ms-transition: all 0.1s linear ;
	-o-transition: all 0.1s linear ;
	transition: all 0.1s linear ;
	cursor: pointer;
}
#parallax .fullBox img:nth-of-type(1){
	left: 10px;
	z-index: 1;
	bottom: 25em;
}
#parallax .fullBox img:nth-of-type(2){
	z-index: 3;
	left: 0;right: 0;
	margin: 0 auto;
	bottom: 10em;
}
#parallax .fullBox img:nth-of-type(3){
	z-index: 2;
	right: 10px;
	bottom: 30em
}
.fullImg{	
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	z-index: 9999
}
.hidden{
	display: none !important;
}
.fullImg .imgBox,.navBox{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	padding: 10px;
	background: #fff;	
	top: 50%;	
	line-height: 0;
	/* text-align: center; */
	-webkit-transform: translateY(-50%) ;
	-moz-transform: translateY(-50%) ;
	-ms-transform: translateY(-50%) ;
	-o-transform: translateY(-50%) ;
	transform: translateY(-50%) ;
	-webkit-transition: all 0.9s ease ;
	-moz-transition: all 0.9s ease ;
	-ms-transition: all 0.9s ease ;
	-o-transition: all 0.9s ease ;
	transition: all 0.9s ease ;
}
.navBox{
	position: fixed;
	left: 50%;
	-webkit-transform: translate(-50%,-50%) ;
	-moz-transform: translate(-50%,-50%) ;
	-ms-transform: translate(-50%,-50%) ;
	-o-transform: translate(-50%,-50%) ;
	transform: translate(-50%,-50%) ;
	z-index: 9999;
	background: none;
	letter-spacing: -4px
}
.navBox .prevBtn,.navBox .nextBtn{
	display:inline-block;	
	width:25%;height: 100%;
	position: relative;
	float: left;		
	cursor: pointer
}
.navBox .nextBtn{
	float: right;
}
.navBox .prevBtn:before,.navBox .nextBtn:before{
	content: "";
	height: 30px;width: 30px;
	opacity: 0;
	position: absolute;
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	transform: rotate(45deg) ;
	top: 0;bottom: 0;
	margin: auto 0;
	-webkit-transition: all 0.2s ease ;
	-moz-transition: all 0.2s ease ;
	-ms-transition: all 0.2s ease ;
	-o-transition: all 0.2s ease ;
	transition: all 0.2s ease ;	
}
.navBox .nextBtn:before{
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	right: 70px;
}
.navBox .prevBtn:before{
	border-bottom: 5px solid #fff;
	border-left: 5px solid #fff;	
	left: 70px;
}
.navBox .prevBtn:hover:before{
	left: calc(100% - 80%);
	opacity: 1;
}
.navBox .nextBtn:hover:before{	
	right: calc(100% - 80%);
	opacity: 1;
}
.navBox .close-lightBox{
	display:block;
	position: absolute;
	height:50px;width:50px;
	/* background:rgba(0,0,0,0.8); */
	top:0;left:101%;
	cursor: pointer;
	z-index:99
} 
.navBox .close-lightBox:before,.navBox .close-lightBox:after{
	content:"";
	display:block;
	position: absolute;
	height:30px;width:5px;
	background:#fff;
	left:0;right:0;top:0;bottom:0;
	margin:auto;
	z-index: 10;
}
.navBox .close-lightBox:before{
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	transform: rotate(45deg) ;
}
.navBox .close-lightBox:after{
	-webkit-transform: rotate(-45deg) ;
	-moz-transform: rotate(-45deg) ;
	-ms-transform: rotate(-45deg) ;
	-o-transform: rotate(-45deg) ;
	transform: rotate(-45deg) ;
}
.fullImg img{
	position: fixed;	
	cursor: pointer;
	top: 0;left: 0;bottom: 0;right:0;
	margin: auto;
	/* vertical-align: middle; */
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	transition: all 0.9s ease;
	opacity: 0;
	z-index: 5
}
.appearOpa{
	opacity: 1 !important;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10
}
#parallax .articleBox{
	font-size: 0.1em;
}
#parallax dl{
	position: relative;
	margin-bottom: 20px;
	background: rgba(255,255,255,0.8);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	border: 1px solid #eee;
	-webkit-transition: all 0.5s linear ;
	-moz-transition: all 0.5s linear ;
	-ms-transition: all 0.5s linear ;
	-o-transition: all 0.5s linear ;
	transition: all 0.5s linear ;
	left: -150%;
}
#parallax dl:nth-child(2n+0){
	left: 150%;
}
#parallax dl.dl-center{
	left: 50%;
	-webkit-transform: translateX(-50%) ;
	-moz-transform: translateX(-50%) ;
	-ms-transform: translateX(-50%) ;
	-o-transform: translateX(-50%) ;
	transform: translateX(-50%) ;
}
#parallax dl dt{
	position: relative;
	color: #00BFFF;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	padding: 20px;		
}
#parallax dl dt:before{
	content: "";
	position: absolute;
	background: #fff;
	width: 100px;
	height: 3px;
	left: 0;right: 0;
	margin: 0 auto;
	bottom: 0;
}
#parallax dl dd{
	padding: 20px;
	font-size: 14px;
}
@media screen and (max-width: 640px){
	#parallax{
		width: 100%;
		height: 400px
	}
	#parallax .background{
		background-position: 45em -5em, 86em 4em, 35em 9em, center;
	}
	#parallax h1{
		width: 100%;
		font-size: 30px;
	}
	#parallax .fullBox{
		height: 300px;
	}
	#parallax .fullBox img:nth-of-type(1){
		bottom: 20em;
	}
	#parallax .fullBox img:nth-of-type(2){
		bottom: 12em;
	}
	#parallax .fullBox img:nth-of-type(3){
		bottom: 20em
	}
	@media screen and (max-aspect-ratio: 13/9){
		.navBox .close-lightBox{
			left: 85%;
			top: -23%;
		}
	}
}